.page-watch {
    .video-player {
        position: fixed;
        width: 100%;
        z-index: 2;
    }
    .video-detail {
        position: absolute;
        top: 205px;
        width: 100%;
        .video-detail-content {
            .no-padding {
                padding: 0;
                ion-col {
                    padding: 0;
                    ion-icon {
                        font-size: 25px;
                        margin-top: -7px;
                    }
                }
            }
            .video-title-main {
                font-size: 1.9rem;
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                word-break: break-word;
            }
            #grow {
                -moz-transition: height .5s;
                -ms-transition: height .5s;
                -o-transition: height .5s;
                -webkit-transition: height .5s;
                transition: height .5s;
                height: 0;
                overflow: hidden;
            }
            .stats {
                margin-top: 0;
                margin-bottom: 13px;
            } 
            .channel-title {
                color: $primary-color;
            }
            .video-views {
                color: $secondary-color;
            }
            .counts-row {
                color: #757575;
                span.counts {
                    vertical-align: 4px;
                    margin-left: 5px;
                    font-size: 14px;
                }
                .share-btn {
                    margin-top: -8px;
                    padding-right: 0;
                    margin-right: 0;
                    margin-left: 0;
                    margin-bottom: 0;
                    padding-left: 0;
                    color: #757575;
                }
            }
        }
        .related-videos-list {
            ion-item {
                ion-thumbnail {
                    img {
                        width: 120px;
                        height: auto;
                    }
                }
                .item-inner {
                    .input-wrapper {
                        ion-label {
                            white-space: normal;
                            h2 {
                                font-size: 1.5rem;
                                overflow: hidden;
                                display: -webkit-box;
                                -webkit-line-clamp: 2;
                                -webkit-box-orient: vertical;
                                word-break: break-word;
                            }
                        }
                    }
                }
            } 
        }
    }
}