.page-watch {
    .video-player {
        position: fixed;
        width: 100%;
        z-index: 2;
    }
    .video-detail {
        position: absolute;
        top: 205px;
        width: 100%;
        .video-detail-content {
            .video-title-main {
                font-size: 1.9rem;
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                word-break: break-word;
            }
            .video-description {
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                word-break: break-word;
            }
        }
        .related-videos-list {
            ion-item {
                ion-thumbnail {
                    img {
                        width: 120px;
                        height: auto;
                    }
                }
                .item-inner {
                    .input-wrapper {
                        ion-label {
                            white-space: normal;
                            h2 {
                                font-size: 1.5rem;
                                overflow: hidden;
                                display: -webkit-box;
                                -webkit-line-clamp: 2;
                                -webkit-box-orient: vertical;
                                word-break: break-word;
                            }
                        }
                    }
                }
            } 
        }
    }
}