<ion-header>
    <ion-navbar>
        <button ion-button menuToggle color="white">
            <ion-icon name="menu"></ion-icon>
            </button>
        <ion-title>Home</ion-title>
    </ion-navbar>
</ion-header>
<ion-content class="card-background-page">

    <div *ngIf="trendingVideos">
        <ion-card class="custom-card" *ngFor="let videos of trendingVideos.items">
            <img [src]="videos.snippet.thumbnails.high.url" />
            <div class="card-title">{{videos.snippet.title}}</div>
            <div class="card-subtitle">{{videos.snippet.channelTitle}} | {{videos.statistics.viewCount | formatViews}} views</div>
            <div class="card-subtitle">{{videos.snippet.publishedAt | timeAgo}}</div>
        </ion-card>
    </div>

    <!--<ion-card class="custom-card">
        <img src="https://ionicframework.com/dist/preview-app/www/assets/img/card-amsterdam.png" />
        <div class="card-title">Amsterdam</div>
        <div class="card-subtitle">64 Listings</div>
    </ion-card>

    <ion-card class="custom-card">
        <img src="https://ionicframework.com/dist/preview-app/www/assets/img/card-sf.png" />
        <div class="card-title">San Francisco</div>
        <div class="card-subtitle">72 Listings</div>
    </ion-card>

    <ion-card class="custom-card">
        <img src="https://ionicframework.com/dist/preview-app/www/assets/img/card-madison.png" />
        <div class="card-title">Madison</div>
        <div class="card-subtitle">28 Listings</div>
    </ion-card>-->

</ion-content>