<ion-header>
    <ion-navbar>
        <button ion-button menuToggle color="white">
            <ion-icon name="menu"></ion-icon>
            </button>
        <ion-title>Home</ion-title>
    </ion-navbar>
</ion-header>
<ion-content class="card-background-page">

    <div *ngIf="trendingVideos">
        <ion-card class="custom-card" *ngFor="let videos of trendingVideos.items" (click)="watchVideo(videos.id);">
            <img [src]="videos.snippet.thumbnails.high.url" *ngIf="!videos.snippet.thumbnails.maxres" />
            <img [src]="videos.snippet.thumbnails.maxres.url" *ngIf="videos.snippet.thumbnails.maxres" />
            <div class="card-title">{{videos.snippet.title}}</div>
            <div class="card-subtitle">{{videos.snippet.channelTitle}} | {{videos.statistics.viewCount | formatViews}} views</div>
            <div class="card-subtitle">{{videos.snippet.publishedAt | timeAgo}}</div>
        </ion-card>
    </div>

    <ion-infinite-scroll (ionInfinite)="getMoreTrendingVideos($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>

</ion-content>